@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;500;600;700&display=swap');

body {
  font-family: 'Barlow', sans-serif;
}

:root {
  --light: #f4f5ef;
  --dk-green: #044836;
  --lt-green: #63a70a;
  --charcoal: #555;
}

@media screen and (max-width: 760px) {
  h1, h2 {
    font-size: 2.25rem;
  }
  p {
    font-size: 1.2rem;
  }
}

/* UTILITY CLASSES */

.slice {
  position: relative;
  
  background: var(--light);
  color: var(--charcoal);
}

.slice:nth-of-type(even) {
  background: var(--lt-green);
  color: #fff;
}

@media screen and (min-width: 760px) {
  .slice:nth-of-type(odd) .row {
    flex-direction: row-reverse;
  }
}
.container {
  width: 100%;
  max-width: 75rem;

  margin-inline: auto;
  padding: 3rem 1rem;

  line-height: 1.5;
  font-size: 1rem;
}

/* Elements */

.btn {
  display: inline-block;
  font-size: 1.125rem;
  color: var(--charcoal);

  padding: 0.5rem 1rem 0.5635rem;
  text-align: center;
}

.btn-outline {
  background: transparent;
  font-weight: 200;

  border: 1px solid var(--charcoal);
}

.mt-3 {
  margin-top: 1.5rem ;
}
.pr-2 {
  padding-right: 1rem;
}
.pl-4 {
  padding-left: 2rem ;
}

/* Text */

.h1 {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
}
.h2 {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

/* Flexbox */

.row {
  display: flex;

  /* enables elements to stack in two lines*/
  flex-wrap: wrap;
}

.row > *{
  padding-inline: 1rem;
}
.col-12 {
  flex: 0 0 100%;
}

@media (min-width: 760px) {
  .col-lg-4 {
    flex: 0 0 33.333333%;
    
    /* flex-basis only effects flex-basis */
    max-width: 33.333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.666667%;
    
    /* flex-basis only effects flex-basis */
    max-width: 66.666667%;
  }
  
}