@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;500;600;700&display=swap');

body {
  font-family: 'Barlow', sans-serif;
  line-height: 1.5;
}

:root {
  --light: #f4f5ef;
  --dk-green: #044836;
  --lt-green: #63a70a;
  --charcoal: #555;
}

/* UTILITY CLASSES */

.slice {
  position: relative;
  padding-inline: .5rem;
  background: var(--light);
  color: var(--charcoal);
}
.slice:nth-of-type(even) {
  background: var(--lt-green);
  color: #fff;
}
@media screen and (min-width: 760px) {
  .slice:nth-of-type(odd) .row {
    flex-direction: row-reverse;
  }
}

.container {
  width: 100%;
  max-width: 75rem;

  margin-inline: auto;
  padding: 3rem 1rem;

  font-size: 1rem;
}

/* Elements */

.btn {
  display: inline-block;
  font-size: 1.125rem;
  color: var(--charcoal);

  padding: 0.5rem 1rem 0.5635rem;
  text-align: center;
}

.btn-outline {
  background: transparent;
  font-weight: 200;

  border: 1px solid var(--charcoal);
}

.mt-3 {
  margin-top: 1.5rem ;
}

/* Text */

.h1 {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1;
}
.h2 {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

@media screen and (min-width: 760px) {
  .h1, .h2 {
    font-size: 3rem;
  }
}

/* Flexbox */

.row {
  display: flex;

  /* enables elements to stack in two lines*/
  flex-wrap: wrap;
}

@media screen and (min-width: 760px) {
  .row > * {
    padding-inline: 1rem;
  }  
}

.col-12 {
  flex: 0 0 100%;
}

@media (min-width: 760px) {
  .col-lg-4 {
    flex: 0 0 33.333333%;
    
    /* flex-basis only effects flex-basis */
    max-width: 33.333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.666667%;
    
    /* flex-basis only effects flex-basis */
    max-width: 66.666667%;
  }
  
}

/* STYLES */

  .row img {
    padding-bottom: 1.75rem;
  }

  blockquote {
    font-size: 1.5rem;
    font-style: italic;
    
    margin: 0 0 .75rem;
    padding: .75rem 1.25rem .75rem 1.1875rem;
    border-left: 4px solid #ccc;
    
    quotes: "“" "”" "‘" "’";
  }

  blockquote > p::after, 
  blockquote > p::before {
    font-family: Georgia, serif;
    font-size: 4em;    
    color: #ccc;
    line-height: 0.1em;
  }
  
  blockquote > p::before {
    content: open-quote;
    margin-right: 0.2em;
    margin-left: -0.1em;
    vertical-align: -0.4em;
  }

  blockquote > p::after {
    content: close-quote;
    margin-left: .25em;
    vertical-align: -.6em;  
  }

  blockquote > cite::before {
    content: "\2014 \0020";
  }
  blockquote > cite {
    font-size: 1.25rem;
    color: #a0a0a0;    
  }