@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;500;600;700&display=swap');

body {
  font-family: 'Barlow', sans-serif;
}

@media screen and (max-width: 760px) {
  h1, h2 {
    font-size: 2.25rem;
  }
  p {
    font-size: 1.2rem;
  }
}

/* UTILITY CLASSES */

.btn {
  display: inline-block;
  font-size: 1.125rem;
  color: #333;

  padding: 0.5rem 1rem 0.5635rem;
  text-align: center;
}

.btn-outline {
  background: transparent;
  font-weight: 200;

  border: 1px solid #333;
}

.margin-top {
  margin-top: 1.5rem ;
}

p {
  margin-bottom: 0.75rem;
}

/* Flexbox */

.row {
  display: flex;

  /* enables elements to stack in two lines*/
  flex-wrap: wrap;
}

.col-12 {
  flex: 0 0 100%;
}

@media (min-width: 760px) {
  .col-lg-4 {
    flex: 0 0 33.333333%;
    
    /* flex-basis only effects flex-basis */
    max-width: 33.333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.666667%;
    
    /* flex-basis only effects flex-basis */
    max-width: 66.666667%;
  }
  
}